.container {
  width: 100%;
  height: auto;
  padding-inline: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 20px;
  /* margin-top: 300px; */
}
.heading {
  font-size: 10rem;
  margin-block: 50px;
  opacity: 0;
}
.heading span {
  font-family: Mazius;
  padding-inline: 10px;
  background: url("../../assets/33d0e10ff8a6a3014e54d5da3f8e91f8.gif");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}
.project {
  width: 80%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-evenly;
  border-radius: 40px;
  border: none;
  height: 450px;
  align-items: center;
  gap: 20px;
  margin-block: 20px;
  opacity: 0;
}
.imageCover {
  width: 40%;
  height: 100%;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
}
.coverImg {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.about {
  width: 40%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.desc {
  color: #cacaca;
  font-size: 15px;
  word-spacing: 2px;
}
.about p {
  font-weight: 500;
  word-spacing: 2px;
}
.btnContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btnContainer a {
  text-decoration: none;
  font-size: 17px;
  color: #ffffff;
  transition: 0.3s ease;
  height: 30px;
}
.btnContainer a:hover {
  transform: scale(1.1, 1.1);
  text-decoration: underline;
  text-decoration-color: #00ff95;
  text-underline-offset: 4px;
}
.previewImages {
  width: 60%;
  height: 50%;
  position: absolute;
  opacity: 0;
  transition: .1s ease;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 9999; */
}
.previewImages img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: center;
}
.imageCover:hover {
  cursor: none;
}
.project:nth-child(3) {
  margin-left: 18vw;
  background-color: #cacaca;
}
.project:nth-child(5) {
  margin-left: 18vw;
  background-color: #cacaca;
}
.project:nth-child(3) .about,
.project:nth-child(3) .desc,
.project:nth-child(3) .btnContainer a,
.project:nth-child(5) .about,
.project:nth-child(5) .desc,
.project:nth-child(5) .btnContainer a {
  color: black;
}
.project:nth-child(3) .imageCover img{
    /* object-fit: contain; */
    width: 100%;
}

.reverse {
  flex-direction: row-reverse;
}
.fadeIn{
  animation: fadeIn 1s 1 ease;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(120px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-height: 800px) {
  .container{
    margin-top: 300px;
  }
}
@media screen and (max-width: 1500px) {
  .project{
    width: 85%;
  }
  .project:nth-child(3),.project:nth-child(5)  {
    margin-left: 15vw;
  }
  
}
@media screen and (max-width: 1350px) {
  .project{
    width: 90%;
  }
  .project:nth-child(3),.project:nth-child(5)  {
    margin-left: 12vw;
  }
  
}
@media screen and (max-width: 1250px) {
  .project{
    width: 95%;
  }
  .project:nth-child(3),.project:nth-child(5)  {
    margin-left: 9vw;
  }
  
}
@media screen and (max-width: 1150px) {
  .project{
    width: 100%;
  }
  .project:nth-child(3),.project:nth-child(5)  {
    margin-left: 0;
  }
  
}
@media screen and (max-width: 1080px) {
  .about{
    width: 50%;
  }
  
}
@media screen and (max-width: 900px) {
  .about .desc{
    font-size: 12px;
  }
  
  
}
@media screen and (max-width: 800px) {
  .about .desc{
    font-size: 11px;
  }
  .project{
    width: 100%;
    flex-direction: column;
    height: 65vh;
  }
  .container{
    padding-inline: 10px;
  }
  .about{
    width: 80%;
  }
  .imageCover{
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .about .desc{
    font-size: 10px;
  }
  .heading{
    font-size: 6rem;
  }
  .project{
    height: 70vh;
    flex-direction: column;
  }
  .about{
    width: 80%;
  }
  .imageCover{
    width: 70%;
  }
  .container{
    margin-top: -50vh;
  }
}